<a href="https://colab.research.google.com/github/bilalotw/ictinternship/blob/main/ICT_INTERN_D2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#class
class student():
  def __init__(self,name,roll_number,mark):
    self.name =name
    self.roll_number =roll_number
    self.mark =mark

students1=student('bilal',23,25)
print(students1.mark)
students1.name

25

'bilal'

In [ ]:
class student():
  def __init__(self,name,mark):
    self.name =name
    self.mark =mark
  def result(self):
    if self.mark>40:
      return 'pass'  
    else:
      return 'fail'
  
passed= []
fail= []


students1=student('bilal',83)
students2=student('muhammad',63)
students3=student('alfina',33)
students4=student('nafl',54)
stud_name=[students1,students2,students3,students4]
for x in stud_name:
  if x.result()=='pass':
    passed.append(x.name)
  else:
     fail.append(x.name) 

print(fail)
print(passed)

['alfina']
['bilal', 'muhammad', 'nafl']

In [ ]:
class Circle:
    def __init__(self, radius):
        self.radius = radius
    def area(self):
        return 3.14 * (self.radius ** 2)
    def perimeter(self):
        return 2 * 3.14 * self.radius
r=int(input("Enter the radius: "))
r1 = Circle(r)
print("Area:", r1.area())
print("Perimeter:", r1.perimeter())

Enter the radius: 5
Area: 78.5
Perimeter: 31.400000000000002

In [ ]:
#polymorphism
class Bird:
  def intro(self):
    	print("There are many types of birds.")
     
  def flight(self):
      print("Most of the birds can fly but some cannot.")

class sparrow(Bird):
    def flight(self):
    	  print("Sparrows can fly.")

class ostrich(Bird):
      def flight(self):
      	print("Ostriches cannot fly.")
	
obj_bird = Bird()
obj_spr = sparrow()
obj_ost = ostrich()

obj_bird.intro()
obj_bird.flight()

obj_spr.intro()
obj_spr.flight()

obj_ost.intro()
obj_ost.flight()

There are many types of birds.
Most of the birds can fly but some cannot.
There are many types of birds.
Sparrows can fly.
There are many types of birds.
Ostriches cannot fly.

**ASSIGNMENT DAY2**

In [1]:
#QUESTION 1
fruits = ['banana', 'orange', 'mango', 'lemon']
reversed_fruits = []

for i in range(len(fruits)-1, -1, -1):
    reversed_fruits.append(fruits[i])

print(reversed_fruits)

['lemon', 'mango', 'orange', 'banana']

In [2]:
#QUESTION 2
a = 0
b = 1
for i in range(10):
    print(a, end=" ")
    c = a + b
    a = b
    b = c

0 1 1 2 3 5 8 13 21 34

In [3]:
#QUESTION 3
def prime(n):
    if n < 2:
        return False
    for i in range(2, n):
        if n % i == 0:
            return False
    return True

count = 0
for i in range(0, 101):
    if prime(i):
        print(i)
        count += 1

print(f"\nThere are {count} prime numbers between 0 and 100.")

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

There are 25 prime numbers between 0 and 100.

In [4]:
#QUESTION 4
num = int(input("Enter a number: "))
if num % 2 == 0:
    print(num,"is even number")
    print("Square of", num, "is", num**2)
else:
    print(num,"is odd number")
    print("Cube of", num, "is", num**3)

Enter a number: 5
5 is odd number
Cube of 5 is 125

In [5]:
#QUESTION 5
sentence = input("Enter a sentence: ")
words = sentence.split()
longest_word = ""
for word in words:
    if len(word) > len(longest_word):
        longest_word = word
print("The longest word is:", longest_word)

Enter a sentence: HELLO MOTO
The longest word is: HELLO

In [6]:
#QUESTION 6
sum = 0
count = 0
while count < 5:
    num = float(input("Enter number: "))
    sum += num
    count += 1
average = sum / 5
print("The average of 5 numbers is: ", average)

Enter number: 57
Enter number: 42
Enter number: 32
Enter number: 22
Enter number: 88
The average of 5 numbers is:  48.2

In [7]:
#QUESTION 7
n = int(input("Enter a number:"))
tot = 0
while(n > 0):
    dig = n % 10
    tot = tot + dig
    n = n // 10
print("The total sum of digits of the given number is:", tot)

Enter a number:555
The total sum of digits of the given number is: 15

In [8]:
#QUESTION 8
principal = float(input("Enter the principal value: "))
rate = float(input("Enter the rate of interest: "))
years = int(input("Enter the number of years: "))

for year in range(1, years+1):
    interest = principal * rate * year
    amount = principal + interest
    print(f"Year :",year)
    print(f"Interest = ",interest)
    print(f"Amount = ",amount)

Enter the principal value: 56
Enter the rate of interest: 5
Enter the number of years: 1
Year : 1
Interest =  280.0
Amount =  336.0

In [11]:
#QUESTION 9
year = int(input("Enter the of year: "))
if year % 4 == 0:
    if year % 100 == 0:
        if year % 400 == 0:
            print("True")
        else:
            print(year,"is not a Leap Year")
    else:
        print(year,"is Leap Year")
else:
    print("False")

Enter the of year: 2048
2048 is Leap Year