<a href="https://colab.research.google.com/github/bilalotw/ictinternship/blob/main/ICT_INTERN_D1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
val=['amina','muhammad','bilal']
reverse=[]
for i in range(len(val)) :
    reverse.append(val[len(val) - i - 1])

for i in range(len(reverse)):
  print(reverse[i])

bilal
muhammad
amina

In [ ]:
n=int(input('Enter the number:- '))
for i in range(n):
  for j in range(n):
    print('* ',end='')
  print('')

Enter the number:- 5
* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [ ]:
s='python'
print(s[0])
print(s[-len(s)])
print(s[0:4])
print(s[-len(s):-2])

p
p
pyth
pyth

In [ ]:
p=[1,2,3,4,5]
for p in  p:
  print(p)

1
2
3
4
5

In [ ]:
a=1
while a<10:
  print(a)
  a+=2

1
3
5
7
9

In [ ]:
'''calculator'''

a=int(input('Enter the number1:- '))
b=int(input('Enter the number2:- '))
q=int(input('Enter the choice sum =1, sub =2, mul =3, div=4:- '))
if q==1:
  s=a+b
  print(s)
elif q==2:
  s=a-b
  print(s)
elif q==3:
  s=a*b
  print(s)
elif q==4:
  if a==0:
    print("not possible")
  else:
     s=b/a                                  
     print(s)
else:
  print("error")

Enter the number1:- 5
Enter the number2:- 5
Enter the choice sum =1, sub =2, mul =3, div=4:- 2
0

In [ ]:
'''prime number'''

a=int(input('Enter the number:- '))
if a==0:
    print(a,"is not prime")
elif a==1:
  print(a,"is not prime")        
else:
    for i in range(2,a):
        if a%i==0:
          print(a,'is not prime')
          flag=0
          break
        else:
          flag=1
    if flag==1:
      print(a,"is prime")

Enter the number:- 15
15 is not prime

In [ ]:
'''Leap year'''
a=int(input('Enter the year:- '))  
if a%400==0 and a%100!=0 and a%4==0:
  print("leap year")   
else:
  print("not a leap year")

Enter the year:- 2020
not a leap year

In [ ]:
'''sum of n numbers'''
n=int(input('Enter number:- ')) 
s=0 
for i in  range(0,n+1):
  s=s+i
print("sum =",s)

Enter number:- 10
sum = 55

In [ ]:
'''factorial'''
n=int(input('Enter number:- ')) 
s=1 
for i in  range(1,n+1):
  s=s*i
print("sum =",s)

Enter number:- 5
sum = 120

In [ ]:
#FUNCTION
def greeting():
  print("Hello")
greeting()

Hello

In [ ]:
sum=0
def add(num1, num2):
  sum=num1+num2
  print(sum)
add(1,2)

3

In [ ]:
def square(num1):
  sum=num1*num1
  print(sum)
a=int(input('Enter the number:- '))
square(a)

Enter the number:- 3
9

In [ ]:
#question number 1
numbers = [1, 2, 3, 4, 5]
sum = 0
for num in numbers:
    print(num)
    sum += num
print("The sum of the numbers is:", sum)

1
2
3
4
5
The sum of the numbers is: 15

In [ ]:
#question number 2
a=input('Enter the Sentence:- ')
print("The String is",a)
p=len(a)
print("the length of the string is",p)
if p % 2 == 0:
    print(a[0:p//2])
else:
    print("the first half is: ",a[0:(p+1)//2])

Enter the Sentence:- Hello World
The String is Hello World
the length of the string is 11
the first half is:  Hello

In [ ]:
#question number 3
a=input('Enter the Sentence1:- ')
b=input('Enter the Sentence2:- ')
c=a+b
print(c)
print(len(c))

Enter the Sentence1:- hello
Enter the Sentence2:-  world
hello world
11

In [ ]:
#question number 4
t = (78, 45, 32, 19, 82, 77, 40, 39)
print("Original tuple:", t)
m = t[0:2] + (100,) + t[3:len(t)]
print("Modified tuple:", m)

Original tuple: (78, 45, 32, 19, 82, 77, 40, 39)
Modified tuple: (78, 45, 100, 19, 82, 77, 40, 39)

In [ ]:
#question number 5
lstA = [19, 32, 10, 55, 31, 32, 94, 29, 10, 65, 77, 40, 40]
# (d) modify the value at index 9 to 300
lstA[9] = 300
print("List after modifying value at index 9 to 300:", lstA)

# (a) delete first occurrence of 32
for i in range(len(lstA)):
    if lstA[i] == 32:
        del lstA[i]
        break

print("List after deleting first occurrence of 32:", lstA)
# (b) delete all occurrences of 40
while 40 in lstA:
  lstA.remove(40)
print("List after deleting all occurrences of 40:", lstA)

# (c) delete value at index 5
del lstA[5]
print("List after deleting value at index 5:", lstA)


# (e) add 200 at index 2
lstA = lstA[:2] + [200] + lstA[2:]
print("List after adding 200 at index 2:", lstA)

# (f) print the final list with its length, maximum value, and sum of all elements
print("Final list:", lstA)
print("Length of list:", len(lstA))
p=lstA[1]
for i in range(2,len(lstA)):
    if p<lstA[i]:
      p=lstA[i]

print("Maximum value of list:", p)
s=0
for i in range(len(lstA)):
  s=s+lstA[i]
print("Sum of all elements in list:",s)

List after modifying value at index 9 to 300: [19, 32, 10, 55, 31, 32, 94, 29, 10, 300, 77, 40, 40]
List after deleting first occurrence of 32: [19, 10, 55, 31, 32, 94, 29, 10, 300, 77, 40, 40]
List after deleting all occurrences of 40: [19, 10, 55, 31, 32, 94, 29, 10, 300, 77]
List after deleting value at index 5: [19, 10, 55, 31, 32, 29, 10, 300, 77]
List after adding 200 at index 2: [19, 10, 200, 55, 31, 32, 29, 10, 300, 77]
Final list: [19, 10, 200, 55, 31, 32, 29, 10, 300, 77]
Length of list: 10
Maximum value of list: 300
Sum of all elements in list: 763